<section class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-sub-title textcenter">
					<h2>All Posts</h2>
					<div class="line"></div>
				</div><!-- end .page-sub-title -->
			</div>
			<%= render 'partials/posts' %>
		</div>
	</div>
</section>
